<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sab.songsfetcher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helpers.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_wolf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_wolf_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
    </application>

</manifest>